@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.body {
  background-color: #ECECEC;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

/* nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0;
}

.nav-links a i {
  display: none;
}

.links {
  margin-right: 61px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}

.links:last-of-type {
  margin-right: 0;
}

.section1__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1__button {
  margin: 95% 0 20%;
}

.text__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.accent-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333333;
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  padding: 24px 40px;
  background-color: #ECECEC;
  border: none;
}

.container-footer {
  background: #2C2C2C;
}

.Footer__inner {
  background: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 60px 0;
}

.Footer__social {
  padding-left: 400px;
}

.Footer__social a i {
  color: #FFFFFF;
  font-size: 20px;
  padding-right: 10px;
}

.Footer__social a i:last-of-type {
  padding-right: 0;
}

.Footer__social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
}

.contact-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 100px;
}

.contact-block__footer-links {
  padding-right: 157px;
}

.contact-block__footer-links:last-of-type {
  padding-right: 0px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.discription {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.discription__subdiscription {
  padding-top: 16px;
}

.discription__subdiscription:first-of-type {
  padding-top: 25px;
}

.subdiscription {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1440px;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1370px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 850px;
  }
}

@media (max-width: 1370px) {
  .main-picture__img1 {
    height: 600px;
  }
  .section1__button {
    margin: 60% 0 20%;
  }
  .Footer__social {
    padding-left: 250px;
  }
}

@media (max-width: 1200px) {
  .main-picture__img1 {
    height: 450px;
  }
  .section1__button {
    margin: 40% 0 20%;
  }
  .Footer__social {
    padding-left: 0;
  }
  .Footer__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .main-picture__img1 {
    display: none;
  }
  .section1__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Footer__social {
    padding: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Footer__social a i {
    color: #FFFFFF;
    font-size: 45px;
    padding: 0 20px;
  }
  .Footer__social-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0 30px;
  }
  .contact-block__footer-links {
    padding: 0;
  }
  .discription {
    font-size: 22px;
    padding-bottom: 12px;
  }
  .discription__subdiscription {
    display: none;
  }
}
